/* GLOBAL RULES */
#newAcc-r{
    display: none;
}
.hidden{
    display: none;
}
#logo{
    width: 50%;
}
/* icons */
i.hidden{
    display: none;
}

img{
    width: 300px;
    height: 200px;
}
/* MOBILE */

/* TABLET */

/* DESKTOP */