/* -- FUNCTIONING -- */
#newAcc-r{
    display: none;
}
.hidden{
    display: none;
}
i.hidden{
    display: none;
}
.warning{
    color: red;
}

/* -- STYLE -- */

[onclick]:hover{
    cursor: pointer;
}
.fit-content{
    max-width: fit-content;
}

footer{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#logo{
    max-width: 100%;
    height: auto;
    width: 50%;
    margin-top: 60px;
    margin-bottom: 15px;
}

img.master-Card{
    width: 275px;
    height: 175px;
    background-color: rgba(88, 140, 153, 0.5);
}
img.banner{
    width: 340px;
    height: 200px;
    background-color: rgba(88, 140, 153, 0.5);
}

.fa-star{
    color: rgba(244, 172, 12, 1);
}

.filter-button{
    border-radius: 50px;
    border: 3px solid #FED66D;
    font-weight: bold;
    width: fit-content;
}
.address{
    margin: 0 auto;
    padding: 0 auto;
}
.btn-warning{
    background-color: #F4AC0C;
    border-radius: 50px;
    font-weight: bold;
    width: fit-content;
}
.btn-confirm{
    border-radius: 50px;
    border: 2px solid #F4AC0C;
    width: fit-content;
}


/* desktop nav */
nav .fixed-top{
    max-height: 60px;
}
.bg-yellow{
    background-color: #F4AC0C;
}
.login-area{
    text-align: right;
}
.list-group-item{
    border: none;
}
.nav-tabs{
    border: none;
}
.nav-link{
    padding: 0px;
}
.dropdown-item:hover{
    background-color:   rgba(88, 140, 153, 0.2);
}
.nav-link{
    color:  rgba(0, 0, 0, 0.6);
}
.nav-link:hover{
    color:  rgba(0,0,0, 1);
}
.dropdown-menu{
    border: 1px solid rgba(255, 226, 163, 1);
}

/* mobile nav */
.mobile-dropdown{
    background-color:  #F4AC0C;
    position: inherit !important;
    transform: none !important;
    border: none;
    border-radius: 0;
    border-right: 1px solid  rgba(255, 226, 163, 1);
    float: right;
    margin-right: 10px;
    max-width: 100%;
}
.mobile-dropdown .dropdown-item{
    padding: 0;
    padding-right: 10px;
}
.mobile-dropdown .dropdown-item:hover{
    background-color:  rgba(255, 226, 163, 0.2);
}




/* list item details */

.pTitle{
    font-size: 1.5em;
    font-weight: bold;
    max-width: 400px;
}
.pArea{
    font-size: 1em;
}


/* -- MEDIA -- */
@media screen and (max-width: 576px){
    #mobile-dropdown{
        display: block;
    }
    #desktop-dropdown{
        display: none;
    }
}
/*
@media screen and (max-width: 576px){
    #desktopNav{
        display: none;
    }
    #mobileNav{
        display: block;
    }
}*/

/* radio */
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:#F4AC0C;
    border: black;
}
.custom-control-input:checked ~ .custom-control-label::before {
    background-color:#F4AC0C;
    border: black;
}
.form-control:focus {
    border-color: #F4AC0C;
    box-shadow: 0 0 0 0.2rem rgba(244, 172, 12, 0.5);
}